In [ ]:
import os
import pandas as pd
import numpy as np

for dirname, _, filenames in os.walk(r'/home/daftvm/workspace/orb-intelligence-api_automation'):
    for filename in filenames:
        print(os.path.join(dirname, filename))


def analysis(data):
    return pd.DataFrame({"Data Type": data.dtypes, "Unique Count": data.apply(lambda x: x.nunique(), axis=0),
                        "Null Count": data.isnull().sum()})

In [2]:
pd.set_option('display.max_columns', 5)
pd.set_option('display.max_rows', 15)

In [3]:
df = pd.read_csv(r'geonames-postal-code.csv')

In [4]:
analysis(df)

             Data Type  Unique Count  Null Count
country code    object             1           2
postal code     object         41482           0
place name      object         18580           0
admin name1     object            53         513
admin code1     object            52         515
admin name2     object          1852         515
admin code2    float64           325         513
admin name3     object             2       41482
admin code3    float64             2       41482
latitude        object         33586           2
longitude      float64         35875           4
accuracy       float64             2         536
coordinates     object         37713           4

In [5]:
drop = np.where(df['postal code'] == 'NY')
drop += np.where(df['postal code'] == '501')
drop += np.where(df['postal code'] == '544')
drop[0]

array([1, 3])

In [6]:
i=0
while i<3:
    df = df.drop(index=drop[i], axis=1)
    i+=1

In [7]:
df.head()

  country code postal code  ... accuracy       coordinates
4           US        1001  ...      4.0  42.0702,-72.6227
5           US        1002  ...      4.0  42.3671,-72.4646
6           US        1003  ...      4.0  42.3919,-72.5248
7           US        1004  ...      4.0  42.3845,-72.5132
8           US        1005  ...      4.0  42.4097,-72.1084

[5 rows x 13 columns]